canvas {
    border: 0px solid rgb(100, 98, 98);
    width: 900px;
    height: 560px;
    outline: 5px solid rgb(121, 118, 118);
}
.slidecontainer {
    width: 100%;
  }  
.slider {
    -webkit-appearance: none;
    width: 20%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align:text-top;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  

  /* font selector */

  /* display circle */
  #circle {
    /*width: 50px;
    height: 50px;*/
    border-radius: 50%;
    background: black;
    z-index: 9;
  }

  #square {
    height: 50px;
    width: 100px;
    background-color: #555;
  }

  #triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
  }
  .cell{cursor: cell;}
  .all-scroll {cursor: all-scroll;}
  .auto {cursor: auto;}
  .pencil {cursor: url('pencil.png'), auto}
  .painter {cursor: url('image/painter.png'), auto}
  .download {cursor: url('image/painter.png'), auto}
  .text {cursor: url('image/text2.png'), auto}
  .eraser {cursor: url('image/eraser.png'),auto}
  .cross {cursor: url('image/cross.png'),auto}
  .upload {cursor: url('image/upload.png'),auto}
  .refresh {cursor: url('image/refresh.png'),auto}
  

  body{
    margin: 0;
    padding: 0;
    user-select: none;
  }


.button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  margin: 5px;
  float: inline-end;
  user-select: none;
}

.button:hover {background-color: #e7e7e7;}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}